# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3
app/data/*.db

# Logs
*.log

# Environment variables
.env

# IDE / Editor
.idea/
.vscode/
.DS_Store
